.App {
  
}

.divider{
  width: 5px;
  height: auto;
  display: inline-block;
}

.rectangle {
  border:2px solid black;
  border-radius: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
}

.dropdown-menu{
max-width: 800px;
}

.table-bordered{
  table-layout: right;
}

 